---
import Layout from '../../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <h1>/blog</h1>
    <p>This is my blog.</p>
    <p>My most recent posts have been about the setup of this here website. Find these below:</p>
    <ul>
        <li><a href="/blog/bengodfreydev001_requirements"><p>001 - requirements</p></a></li>
        <li><a href="/blog/bengodfreydev002_theStack"><p>002 - the stack</p></a></li>
        <li><a href="/blog/bengodfreydev003_buildLog"><p>003 - build log</p></a></li>
    </ul>
</Layout>